<!--<mat-toolbar color="primary" class="footer">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer class="footer-margin footer-background">
    <!--Created Grids for displaying footer-->
    <div class="footerGrid">
      <h4>NEU RENTALS</h4>
      <ul>
        <li><a class="grid1Text li1" href="#">About Us</a> </li>
        <li><a class="grid1Text" href="#">Culture</a></li>
        <li><a class="grid1Text" href="#">Investors</a></li>
        <li><a class="grid1Text" href="#">Careers</a></li>
        <li><a class="grid1Text" href="#">Our Benefits</a></li>
        <li><a class="grid1Text" href="#">Sitemap</a></li>

      </ul>
    </div>
    <!--Information-->
    <div class="footerGrid">
      <h4>INFORMATION</h4>
      <ul>
        <li><a class="grid1Text" href="#">Blog</a></li>
        <li><a class="grid1Text" href="#">FAQs</a></li>
        <li><a class="grid1Text" href="#">Three Years Benefits</a></li>
        <li><a class="grid1Text" href="#">Documents Required</a></li>
        <li><a class="grid1Text" href="#">Renting for Business</a></li>
      </ul>

    </div>
    <!--Policies-->
    <div class="footerGrid">
      <h4>POLICIES</h4>
      <ul>
        <li><a class="grid1Text" href="#">Cancellations</a></li>
        <li><a class="grid1Text" href="#">Return & refund</a></li>
        <li><a class="grid1Text" href="#">Privacy Policy</a></li>
        <li><a class="grid1Text" href="#">Rental Terms and Conditions</a></li>
        <li><a class="grid1Text" href="#">Renting for Business</a></li>
      </ul>
      <!--Contact Information-->
    </div>
    <div class="footerGrid">
      <h4>CONTACT Us</h4>
      <div class="icon"><mat-icon>phone</mat-icon><p class="grid1Text">+1 234 567 9332</p></div>
      <div><mat-icon>mail</mat-icon><p class="grid1Text">info@company.com</p></div>
      <p class="grid1Text">Fax: +1 341 422 5678</p>
    </div>
    <div class="icons">
    </div>
  </footer>
<!--</mat-toolbar>-->
