//Styling of outer container
.example-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  margin-left:30% ;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

//Styling of inner container having input fields
.innerContainer{
  width: 600px;
  margin-left: 5%;
  //border: 1px solid black;
}

//.example-container > * {
//  width: 50%;
//}

#datetimepickerFrom,#datetimepickerTo{
  float: left;
  width: 20%;
  margin-left: 9em;
}

.price,.type{
  width: 11%;
}

.price{
  margin-left: 3%;
}

.title, .category, .desc, .pickUpLocation, .contactNo, .subCategory{
  width: 50%;
  margin-right: 10px;
}

//Styling of button to add post
.add-post-button{
  //width: 10%;
  background-color: black;
  color: white;
  font-family: cursive;
  font-size: 20px;
  margin-left: 35%;
  width: 115px;
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-right: 1em;

}

.add-post-button:hover{
  font-size: 18px;
}
