<!-- My Profile Component -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle><mat-icon>person</mat-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>My Profile</button>
        <button ngbDropdownItem routerLink="/myPost">My Posts</button>
        <button ngbDropdownItem >My Rentals</button>
        <button ngbDropdownItem routerLink="">LogOut</button>
      </div>
    </div>
  </div>
</div>
<!-- btn btn-outline-primary -->
